<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Comentarios y UML</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Generador de Comentarios y UML</h1>
    
    <input type="file" id="fileInput">
    <button onclick="sendFile()">Subir y Analizar</button>

    <h2>Archivos Procesados:</h2>
    <div id="fileOutput"></div>

    <script src="script.js"></script>
    <h2>Diagrama UML:</h2>
    <div id="umlOutput"></div>
    
</body>

</html>

