body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

input, button {
    margin: 10px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    max-width: 80%;
    margin: auto;
    overflow-x: auto;
}

.file-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.uml-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

